:root{
    --text-color: #333;
    --primary-color:#ddae71;
}

*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    display: block;
    max-width: 100%;
}

::selection {
    background: #ddae71;
    color: #fff;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#ddae71);
    border-radius: 6px;
}