#main{
    margin-top: 7rem;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/img/banner-img.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 8rem;
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("/assets/img/card-img.jpg") center/cover no-repeat;
}
.banner h2{
    font-size: 3rem;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 330px;
}
.card-content h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.book-table form .form-select, form .form-input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form .form-input[type = text], form .form-input[type = number], form .form-input::placeholder, select{
    color: #9a9a9a;
}
form .form-input[type = submit]{
    color: #fff;
    background: var(--primary-color);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
}
form .form-input[type = submit]:hover{
    opacity: 0.9;
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
        margin-top: 5rem;
    }
    .card-img{
        height: 330px;
    }

    .banner h2 {
        display: none;
        font-size: 2rem;
        padding-bottom: 0px;
    }
}