

.contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info{
    color: #333;
    margin: 7rem;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
  }
  
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  }
  
  .contact-form{
    max-width: 700px;
    margin-right: 50px;
    margin: 7rem 5rem 7rem 0;
  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .contact-form h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  .contact-form .text-box{
    background: #18181D;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .text-box:first-child{
    margin-right: 15px;
  }
  
  .contact-form textarea{
    background: #18181D;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .send-btn{
    float: right;
    background: #DDAE71;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    /* transition-property: background; */
  }
  
  .contact-form .send-btn:hover{
    background: #ddae71d0;
  }
  
  @media screen and (max-width: 950px){
    .contact-section{
      flex-direction: column;
    }
  
    .contact-info{
      margin: 9rem 4rem 3rem;
    }

    .contact-form{
        margin: 0 5rem 5rem 5rem;
    }
  
    .contact-form h2{
      font-size: 30px;
    }
  
    .contact-form .text-box{
      width: 100%;
    }
  }
