#main{
    margin-top: 7rem;
}

/* js  */
.bar-fixed{
    position: fixed;
    top: 70px;
    width: 21%;
}
/* end js  */

.menu__title{
    background-color: #f3f4f4;
    text-align: center;
    padding: 7rem;
}

.menu__title h1{
    font-size: 7rem;
    font-weight: 100;
    color: #333;
}

.menu__title h4{
    color: #a4a7a9;
    font-size: 1.7rem;
    font-weight: 500;
}

.menu__content{
    margin-top: 3rem;
}

.bar{
    display: block;
}

.bar__list{
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    background-color: #282b2e;
}

.bar__list a{
    text-decoration: none;
    padding: .5rem 0;
    /* font-size: 15.4px; */
    font-size: 2.1rem;
    line-height: 4.1rem;
    font-weight: 100;
    display: block;
    color: #fff;
    transition: 0.2s;
}

.bar__list a:hover{
    color: var(--primary-color);
    transition: 0.2s;
}

.bar__item{
    list-style: none;
}

.menu__top{

}

.menu__top-title{
    position: relative;
    height: 35vh;
    min-height: 160px;
    color: #fff;
    padding: 3rem;
    background-color: #282b2e;
}

.menu__top-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.pt-img{
    background-image: url(/assets/img/pt-img.jpg)
}

.bg-img{
    background-image: url(/assets/img/menu-burgers.jpg)
}

.pz-img{
    background-image: url(/assets/img/pz-img.jpg)
}

.ss-img{
    background-image: url(/assets/img/ss-img.jpg)
}

.ds-img{
    background-image: url(/assets/img/ds-img.jpg)
}

.dr-img{
    background-image: url(/assets/img/dr-img.jpg)
}
.menu__top-img img{
    position: absolute;
    max-width: 100%;
    height: auto;
}

.menu__top-title .menu__top-img::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    background-image: linear-gradient(0deg,rgba(0,0,0,.8),transparent);
}

.menu__top-title h2{
    position: absolute;
    bottom: 72px;
    /* bottom: 3rem; */
    /* left: 56px; */
    left: 4rem;
    /* font-size: 70px; */
    font-size: 7rem;
    z-index: 2;
    margin-bottom: 0;
    font-weight: 100;
}

.menu__list{
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

.menu__list-item{
    padding: 1.25rem 1.5rem;
    line-height: 1.4;
    align-items: center;
    border-bottom: 1px solid #e0e0e0
}

.menu__list-item a{
    text-decoration: none;
}

.menu-list-left{

}

.menu-list-left h6{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
}

.menu-list-left span{
    font-size: 1.2rem;
    color: #666;
}

.menu-list-right{
    position: relative;
}

.menu-price{
    right: 35%;
    position: absolute;
    /* align-items: center; */
    margin-right: 1rem;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.menu-btn{
    right: 3%;
}

.data__btn{
    padding: 0 2.1rem;
    font-size: 1.3rem;
    border-radius: 0;
    height: 4.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #DDAE71;
    color: #fff;
    background-color: #282B2E;
    /* margin: 0 auto; */
    /* left: 2rem; */
    /* top: 0; */
    position: absolute;
}

.data__btn:hover{
    background-color: #DDAE71;
    transition: 0.3s;
}

.margin{
    margin-bottom: 22rem;
}

