/* Mobie & Tablet*/
@media (max-width:1023px){
    .hide-on-mb-tablet{
        display: none;
    }

    #header{
        position: fixed;
    }

    .header__logo{
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    .header__content{
        display: block;
    }

    .header__nav{
        display: none;
        /* display: block; */
    }

    /* .header__nav--item{
        display: none;
        margin-left: 4rem;
        margin-top: 1rem;
    }

    .header__nav--item a{
        line-height: 3rem;
    } */

    .nav__bar--btn{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header__icon{
        position: absolute;
        top: 50%;
        right: 0;
    }

    .cart-notice{
        position: absolute;
        top: -20px;
        right: -15px;
    }

    .cart-list{
        top: calc(100% + 35px);
        right: -21px;
    }

    .header__icon .icon-cart{
        width: 0px;
        border-right: none;
        top: 50%;
        position: absolute;
        right: 0;
        transform: translateY(-50%);
    }

    .header__icon .icon-user{
        display: none;
    }

/* MENU responsive  */

    .menu__title{
        width: 0;
        height: 0;
        padding: 0;
    }

    .bar{
        position: fixed;
        top: 70px;
        width: 21%;
    }

    .menu__content{
        margin-top: 0;
    }

    .menu-price{
        right: 58%;
    }

/* ========================================footer======================================== */
    #footer{
        height: 103rem;
    }

    .ftail{
        top: 76%;
    }
}

/* Tablet*/
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }

    .cart-notice{
        position: absolute;
        top: -20px;
        right: -15px;
    }

    /* popular menu  */

    .new {
        min-height: 85rem;
    }
    .list__data{
        padding-top: 22rem;
    }

    .add-cart-btn {
        width: 170px;
    }

    .data__btn {
        padding: 0 2rem;
        font-size: 1rem;
        right: 71px;
    }

    .menu-btn{
        right: 0;
    }

    .data__price {
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 700;
        width: 7.8rem;
    }

    .newlist__data {
        padding-top: 20rem;
        width: 100%;
        height: 43rem;
    }
    /* end popular menu */

    /* dish menu  */
    .dish{
        height: 0;
        display: none;
        visibility: hidden;
    }
    /* end dish menu  */
}
/* Mobie */
@media (max-width:739px){

    .hide-on-mobie{
        display: none;
    }

    .header__logo{
        top: 20%;
        transform: translateX(-50%);
    }

    .nav__bar--btn{
        transform: translateY(-50%);
        margin-left: 1rem;
    }

    .header__icon .icon-cart{
        transform: translateY(-50%);
        margin-right: 2.5rem;
    }

    .cart-notice{
        margin-right: 2.5rem; 
    }

    .cart-list{
        top: calc(100% + 35px);
        right: 15px;
        width: 27rem;
    }

    .cart-list::after{
        right: 0;
    }

    /* footer  */
    #footer{
        padding: 0 1rem;
    }

    .footer__social i{
        width: 23px;
        height: 23px;
        line-height: 23px;
        margin-left: 1px;
    }

    /* MENU responsive  */
    .menu-price{
        display: none;
    }
}