/* Mobie & Tablet*/
@media (max-width:1023px){
    .hide-on-mb-tablet{
        display: none;
    }

    #header{
        position: fixed;
    }

    .header__logo{
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    .header__content{
        display: block;
    }

    .header__nav{
        display: none;
        /* display: block; */
    }

    /* .header__nav--item{
        display: none;
        margin-left: 4rem;
        margin-top: 1rem;
    }

    .header__nav--item a{
        line-height: 3rem;
    } */

    .nav__bar--btn{
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .header__icon{
        position: absolute;
        top: 50%;
        right: 0;
    }

    .cart-notice{
        position: absolute;
        top: -20px;
        right: -15px;
    }

    .cart-list{
        top: calc(100% + 35px);
        right: -21px;
    }

    .header__icon .icon-cart{
        width: 0px;
        border-right: none;
        top: 50%;
        position: absolute;
        right: 0;
        transform: translateY(-50%);
    }

    .header__icon .icon-user{
        display: none;
    }

/* MENU responsive  */

    .menu__title{
        width: 0;
        height: 0;
        padding: 0;
    }

    .bar{
        position: fixed;
        top: 70px;
        width: 21%;
    }

    .menu__content{
        margin-top: 0;
    }

    .menu-price{
        right: 58%;
    }

/* ========================================footer======================================== */
    #footer{
        height: 103rem;
    }

    .ftail{
        top: 76%;
    }
}
/* ========================================end footer======================================== */

/* checkout  */
.f-end{
    justify-content: flex-end;
}

.bill{
    max-height: 550px;
}
/* end checkout  */

/* Tablet*/
@media (min-width:740px) and (max-width:1023px){
    .hide-on-tablet{
        display: none;
    }

    .cart-notice{
        position: absolute;
        top: -20px;
        right: -15px;
    }

    /* popular menu  */

    .new {
        min-height: 85rem;
    }
    .list__data{
        padding-top: 22rem;
    }

    .add-cart-btn {
        width: 170px;
    }

    .data__btn {
        padding: 0 2rem;
        font-size: 1rem;
        right: 71px;
    }

    .menu-btn{
        right: 0;
    }

    .data__price {
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 700;
        width: 7.8rem;
    }

    .newlist__data {
        padding-top: 20rem;
        width: 100%;
        height: 43rem;
    }
    /* end popular menu */

    /* dish menu  */
    .dish .image-container .image {
        width: 17rem;
    }
    
    .dish .image-container .image img {
        height: 15rem;
    }
    
    .dish {
        height: 1100px;
    }

    /* .dish{
        height: 0;
        display: none;
        visibility: hidden;
    } */
    /* end dish menu  */

    
}
/* Mobie */
@media (max-width:739px){

    .hide-on-mobie{
        display: none;
    }

    .header__logo{
        top: 20%;
        transform: translateX(-50%);
    }

    .nav__bar--btn{
        transform: translateY(-50%);
        margin-left: 1rem;
    }

    .header__icon .icon-cart{
        transform: translateY(-50%);
        margin-right: 2.5rem;
    }

    .cart-notice{
        margin-right: 2.5rem; 
    }

    .cart-list{
        top: calc(100% + 35px);
        right: 15px;
        width: 27rem;
    }

    .cart-list::after{
        right: 0;
    }

    /* slider  */
    .myslide {
        height: calc(500px - 7rem);
    }
    
    .myslide .txt h1 {
        color: #fff;
        font-size: 4rem;
        margin-bottom: 3rem;
        font-weight: 100;
    }
    
    .data__btn {
        font-size: 1.3rem;
        font-weight: 500;
    }
    
    .data__price {
        left: 52%;
    }
    /* end slider  */

    /* about  */
    .about {
        padding: 0 1rem;
        height: 90rem;
    }
    
    .about__title h1 {
        font-size: 5rem;
    }
    
    .about__title h4 {
        font-size: 1.8rem;
    }
    
    .about__content {
        width: 100%;
    }
    
    .about__content h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    
    .about__content h4 {
        font-size: 3rem;
    }
    
    .about__end {
        height: 230px;
    }

    .about__end-img {
        height: 100%;
    }
    
    .about__text {
        padding-bottom: 6rem;
    }
    
    .about__text h2 {
        font-size: 3rem;
        margin-bottom: 0rem;
        margin-top: 5rem;
    }
    
    .about__text h5 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
    
    .about__end-btn {
        padding: 2.5rem;
        width: 14rem;
    }
    /* end about  */

    /* popular menu  */
    .popular__title {
        margin-top: 10rem;
        font-size: 4rem;
    }
    
    .popular__desc {
        margin-top: 16rem;
    }
    /* end popular menu  */

    /* dish menu */

    .dish{
        height: 0;
        display: none;
        visibility: hidden;
    }

    .dish__title {
        font-size: 3rem;
    
    }
    
    .dish .controls .buttons {
        font-size: 1.6rem;
    }
    
    .dish .image-container .image {
        width: 34rem;
    }
    
    .dish .image-container .image img {
        height: 18rem;
    }
    /* end dish menu  */
    
    
    /* footer  */
    #footer{
        padding: 0 1rem;
    }

    .footer__social i{
        width: 23px;
        height: 23px;
        line-height: 23px;
        margin-left: 1px;
    }

    /* MENU responsive  */
    .menu-price{
        display: none;
    }


    /* detail  */
    .desc,
    .cmt__heading,
    .cmt__box,
    .cmt__detail,
    .detail-dish{
        padding: 0 1rem;
    }

    .ftail{
        display: none;
    }

    .effect-2 {
        width: 27rem;
    }

    .cmt__box-action {
        bottom: -21px;
        right: 4rem;
    }

    .cmt__more {
        padding: 5.6rem 1.6rem 5.6rem 1rem;
    }

    /* .cmt__detail-avatar {
        margin-top: 5rem;
    } */
    
    /* .cmt__detail-body {
        margin-top: 5rem;
    } */

    .cmt__detail {
        margin-top: 4.6rem;
    }
    
    .cmt__detail-content-text {
        max-width: 26rem;
    }
    
    .effect-2-sub{
        width: 22rem;
    }

    .cmt__box-action-sub{
        bottom: 1rem;
    }

    .view__reply__more {
        margin: 3rem 0 0;
    }
}