#wrapper{

}
/* ========================================Begin Header========================================  */
#header{
    position: fixed;
    background-color: #fff;
    height: 7rem;
    /* margin-top: 1rem; */
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #3333331a;
}

.header__content{
    display: flex;
    position: relative;
    height: 7rem;
}

.header__logo{
    display: block;
    margin-right: 7rem;
    align-items: center;
    height: 6rem;
    top: 4px;
    position: relative;
}

.header__logo img{
    max-height: 100%;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav--item{
    list-style: none;
}

.header__icon i:hover,
.header__nav--item:hover .header__nav--link{
    color: var(--primary-color);
    transition: 0.2s;
}

.header__nav--item .header__nav--link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 7;
}

.header__nav--item{
    margin-left: 5rem;
    transition: 0.4s;
}

/* search js  */
/* .header__nav--item-toggle{
    margin-left: 5rem !important;
    transition: 0.4s;
} */
/* search js  */
.header__nav--item:not(:first-child){
    /* margin-left: 7rem; */
}

.header__icon{
    margin-left: auto;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: rgba(51, 51, 51, 0.692);
}

/* search  */
.search {
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, 0.692);
    height: 30px;
    border-radius: 40px;
    /* padding: 6px; */
    display: flex;
    align-items: center;
}

/* .search:hover > .search-txt {
    width: 24rem;
    padding: 0 1rem;
}

.search:hover > .search-btn {
    background: white;
    color: black;
} */

.search-txt-width{
    width: 24rem !important;
    padding: 0 1rem !important;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(51, 51, 51, 0.692);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    border: none;
}

.search-btn > i {
    font-size: 1.7rem;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 1.6;
    width: 0px;
    font-weight: 500;
}

::placeholder {
    color: #fff;
    opacity: 1;
}
/* search  */

.cart{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.header__icon .icon-cart{
    border-right: 1px solid rgba(51, 51, 51, 0.37);
    padding-right: 2rem;
}

.header__icon .icon-user{
    margin-left: 2rem;
}

.cart-notice{
    position: absolute;
    top: -8px;
    right: 5px;
    padding: 1px 5px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #333;
    background-color: #ddae71;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
}

.cart-list{
    position: absolute;
    top: calc(100% + 25px);
    background-color: #fff;
    right: 0;
    width: 40rem;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    display: none;
    cursor: default;
}

/* .cart:hover .cart-list{
    display: block;
    transition: 0.25s;
} */

.cart-list::after{
    content: "";
    position: absolute;
    right: 14px;
    top: -30px;
    cursor: pointer;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.cart-list-empty{
    padding: 2.8rem 0;
}

.cart-list-empty .cart-list-img{
    display: block;
}

.cart-list-img{
    width: 50%;
    margin: 0 auto;
    display: none;
}

.cart-heading{
    text-align: left;
    margin: 1.8rem 0 1.8rem 1.2rem;
    padding: 0 0 2.5rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: #000;
    border-bottom: 1px dashed #999;
}

.cart-list-item{
    list-style: none;
    width: 100%;
    /* position: absolute; */
}

.cart-item{
    display: flex;
}

.cart-item-img{
    /* position: absolute; */
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.cart-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.2rem;
    width: 100%;
}

.cart-info-text{

}

.cart-info-name{
    font-size: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 27rem;
}

.cart-info-quantily{
    font-size: 1.7rem;
}

.cart-info-x{
    font-size: 1.5rem;
}

.cart-info-price{
    font-size: 1.7rem;
}

.cart-info-remove{
    cursor: pointer;
}

.cart-btn{
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.cart-btn span{
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: #fff;
    /* text-transform: uppercase; */
    border-radius: 5px;
    margin: 1rem;
    font-weight: 100;
    transition: 0.3s;
}

.cart-btn:hover span{
    color: #000;
    transition: 0.3s;
}

.nav__bar--btn{
    font-size: 2rem;
    color: #333;
    display: none;
    cursor: pointer;
}


/* Nav tablet  */
.nav__overlay{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.25s;
}

.header__nav--mobie{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 32rem;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.25s, opacity linear 0.25s
}

.nav__logo--mobie{
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.nav--mobie{
    z-index: 1000;
    position: absolute;
    top: 8rem;
}

.nav--item-mobie{
    z-index: 1000;
    margin-top: 2.4rem;
    display: block;
    font-size: 1.4rem;
    padding: 1rem 3rem;
}

.nav--item-mobie:hover .nav--link-mobie{
    color: #ca3d26;
    transition: 0.2s;
}

.nav--link-mobie{
    z-index: 1000;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.6rem;
}

.nav__mobie-close{
    z-index: 1000;
    color: #666;
    position: absolute;
    top: 0.4rem;
    font-size: 2.8rem;
    right: 29rem;
}

.nav-input:checked ~ .nav__overlay{
    display: block;
}

.nav-input:checked ~ .header__nav--mobie{
    transform: translateX(0%);
    opacity: 1;
}

.nav--item-mobie i{
    font-size: 1.5rem;
    width: 2.5rem;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* ========================================End Header========================================  */

/* ========================================Begin Footer========================================  */
#footer{
    height: 62rem;
    background-color: #18181D;
    position: relative;
    /* overflow-y: scroll; */
}

.footer__title{
    display: flex;
    margin-top: 11rem;
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.footer__logo{
    display: block;
    margin-right: 7rem;
    align-items: center;
    height: 6rem;
    top: 4px;
    position: relative;
}

.footer__social{
    margin-left: auto;
    margin-top: 1rem;
}

.footer__social i:hover{
    background-color: rgba(0,0,0,0.05);
    transition: 0.3s;
}



.footer__social .fb:hover{
    color: #3b5999;
    border: 1px solid #3b5999;
}

.footer__social .twitter:hover{
    color: #55acee;
    border: 1px solid #55acee;
}

.footer__social .ins:hover{
    color: #e4405f;
    border: 1px solid #e4405f;
}

.footer__social .youtube:hover{
    color: #cd201f;
    border: 1px solid #cd201f;
}

.footer__social i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 12px;
    color: #b7b095;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__time,
.footer__contact,
.footer__subscribe{
    color: #b7b095;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 3rem;
    display: inline-block;
}

.time__list,
.contact__list{
    color: #fff;
    list-style: none;
    display: flex;
}

.name{
    margin-bottom: 20px;
    font-size: 14px;
    padding-right: 10px;
    width: 6rem;
    display: table-cell;
    white-space: nowrap;
}

.dots{
    height: 13px;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    text-align: justify;
    display: table-cell;
    white-space: nowrap;
}

.contact__list span,
.time__list span{
    font-size: 1.4rem;
    margin-left: auto;
    display: table-cell;
    white-space: nowrap;
}

.footer__subscribe+p{
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #fff;
    text-align: justify;
}

#footer form{
    display: flex;
}

.form__left{
    width: 100%;
}

#footer form .form__left input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #fff;
    font-size: 1.6rem;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.form__right{

}

.form__btn{
    border: 0;
    padding: 13px 25px;
    min-width: auto;
}

.btn-skew{
    background: transparent;
    padding: 10.5px 40px;
    min-width: 120px;
    position: relative;
    cursor: pointer;
    color: #fff;
    transition: all .4s;
    z-index: 3;
}

.btn-skew span{
    position: relative;
    z-index: 2;
    font-size: 1.6rem;
}

.btn-skew i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.btn-skew i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #b7b095;
}

.btn-skew i::after{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 2px;
    bottom: 2px;
    background: #b7b095;
}

#footer .ftail{
    padding: 30px 0;
    margin-top: 16.2rem;
    background: #161718;
    position: absolute;
    width: 100%;
    z-index: 2;
    text-align: center;
}

#footer .ftail span{
    color: #777;
    font-size: 1.3rem;
    line-height: 2;
}

#footer .ftail b{
    font-size: 1.7rem;
}
/* ========================================End Footer========================================  */